<!-- Example of refactored FAQ section -->
<section id="faq">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">FAQ</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="faq-accordion">
            <!-- FAQ Item 1 -->
            <div class="faq-item">
              <div class="faq-header" data-toggle="collapse" data-target="#faq1">
                <i class="fa fa-diamond"></i>
                <h3>Sturdy Templates</h3>
              </div>
              <div id="faq1" class="collapse">
                <div class="faq-body">
                  <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
              </div>
            </div>
            <!-- Additional FAQ items -->
          </div>
        </div>
      </div>
    </div>
  </section>