{% assign lang = include.lang | default: 'en' %}
<section id="gifts-{{ lang }}">
    <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="mesa-content">
              <h2 class="section-heading">{{ site.data[lang].mesa_title }}</h2>
              <hr class="divider">
              <p class="subtitle">{{ site.data[lang].mesa_subtitle }}</p>
              
              <div class="gift-text">
                {{ site.data[lang].mesa_text }}
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>