<section id="history-{{ lang }}" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading"> {{ site.data[lang].history_heading }} </h2>
          <hr>
          <p class="text-muted"> {{ site.data[lang].history_subtitle }} </p>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="story-container">
            <div class="story-heart"><i class="fa fa-heart"></i></div>
            
            <div class="story-content">
              <p class="lead text-center">{{ site.data[lang].history_starttext }}</p>
              
              <div class="story-image-wrapper">
                <img src="/img/history/1.jpg" alt="Paty goes" class="img-responsive story-image">
                <div class="image-caption">{{ site.data[lang].history_picture1 }}</div>
              </div>
              <h3 class="story-chapter">{{ site.data[lang].history_chapter1 }}</h3>
              <p>{{ site.data[lang].history_text1 }}</p>

            <h3 class="story-chapter">{{ site.data[lang].history_chapter2 }}</h3>
            <p> {{ site.data[lang].history_text2 }}</p>
  
            <div class="text-center">
                <img src="/img/history/lake.jpg" alt="The first date" class="img-responsive story-image">
                <div class="image-caption">{{ site.data[lang].history_picture2 }}</div>
            </div>
  
            <p>
              {{ site.data[lang].history_text3 }}
            </p>
  
                <blockquote class="story-quote">
                    " {{ site.data[lang].history_quote }} " 
                    <footer> {{ site.data[lang].history_quote_footer }} </footer>
                </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>