<section class="no-padding" id="rsvp-{{ lang }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">RSVP</h2>
          <hr>
          <p class="text-muted">Será un placer celebrar este día tan especial con usted.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 d-flex justify-content-center">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf-CH2EDZwwb-aH5g8Tj9hO1pQk__QpEf3f5O8Ldf1gnW4d1w/viewform?embedded=true" width="640" height="1114" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
      </div>
    </div>
  </section>