<section id="weddingweek-{{ lang }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading"> {{ site.data[lang].week_heading }} </h2>
          <hr>
          <p class="text-muted"> {{ site.data[lang].week_subtitle }} </p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="wedding-timeline">

            <!-- Event 1 -->
            <div class="timeline-item row">
              <div class="col-md-6 text-right">
                <div class="timeline-date">
                  <h4>{{ site.data[lang].week_dayname1 }}</h4>
                  <p class="text-primary">22.05.2026</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="timeline-card">
                  <div class="timeline-icon">
                    <i class="fa fa-glass-cheers"></i>
                  </div>
                  <h3> {{ site.data[lang].week_event1_title }} </h3>
                  <p class="time"><i class="fa fa-clock-o"></i> 7:00 - 10:00 </p>
                  <p class="location"><i class="fa fa-map-marker"></i> {{ site.data[lang].week_event1_location }} </p>
                  <p class="text-muted">{{ site.data[lang].week_event1_description }} </p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-10 col-lg-offset-1">
              <div class="wedding-timeline">
                <!-- Event 2 -->
                <div class="timeline-item row">
                  <div class="col-md-6 text-right">
                    <div class="timeline-date">
                      <h4>{{ site.data[lang].week_dayname2 }}</h4>
                      <p class="text-primary">23.05.2026</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="timeline-card">
                      <div class="timeline-icon">
                        <i class="fa fa-glass-cheers"></i>
                      </div>
                      <h3> {{ site.data[lang].week_event2_title }} </h3>
                      <p class="time"><i class="fa fa-clock-o"></i> 7:00 - 10:00 </p>
                      <p class="location"><i class="fa fa-map-marker"></i> {{ site.data[lang].week_event2_location }} </p>
                      <p class="text-muted">{{ site.data[lang].week_event2_description }} </p>
                    </div>
                  </div>
                </div>
  
                <div class="col-lg-10 col-lg-offset-1">
                  <div class="wedding-timeline">
                    <!-- Event 3 -->
                    <div class="timeline-item row">
                      <div class="col-md-6 text-right">
                        <div class="timeline-date">
                          <h4>{{ site.data[lang].week_dayname3 }}</h4>
                          <p class="text-primary">24.05.2026</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="timeline-card">
                          <div class="timeline-icon">
                            <i class="fa fa-glass-cheers"></i>
                          </div>
                          <h3> {{ site.data[lang].week_event3_title }} </h3>
                          <p class="time"><i class="fa fa-clock-o"></i> 7:00 - 10:00 </p>
                          <p class="location"><i class="fa fa-map-marker"></i> {{ site.data[lang].week_event3_location }} </p>
                          <p class="text-muted">{{ site.data[lang].week_event3_description }} </p>
                        </div>
                      </div>
                    </div>
          </div>
        </div>
      </div>
    </div>
  </section>