<section id="timetable">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Wedding Timetable</h2>
          <hr class="primary">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="timetable-items">
            <div class="timetable-item">
              <div class="timetable-time"><i class="fa fa-ring"></i> 2:00 PM</div>
              <div class="timetable-event">Ceremony Starts</div>
            </div>
            <div class="timetable-item">
              <div class="timetable-time"><i class="fa fa-glass-cheers"></i> 3:00 PM</div>
              <div class="timetable-event">Cocktail Hour</div>
            </div>
            <div class="timetable-item">
              <div class="timetable-time"><i class="fa fa-utensils"></i> 4:30 PM</div>
              <div class="timetable-event">Reception Begins</div>
            </div>
            <div class="timetable-item">
              <div class="timetable-time"><i class="fa fa-pizza-slice"></i> 5:00 PM</div>
              <div class="timetable-event">Dinner is Served</div>
            </div>
            <div class="timetable-item">
              <div class="timetable-time"><i class="fa fa-music"></i> 7:00 PM</div>
              <div class="timetable-event">First Dance</div>
            </div>
            <div class="timetable-item">
              <div class="timetable-time"><i class="fa fa-birthday-cake"></i> 8:00 PM</div>
              <div class="timetable-event">Cake Cutting</div>
            </div>
            <div class="timetable-item">
              <div class="timetable-time"><i class="fa fa-microphone"></i> 9:00 PM</div>
              <div class="timetable-event">Open Dance Floor</div>
            </div>
            <div class="timetable-item">
              <div class="timetable-time"><i class="fa fa-heart"></i> 11:00 PM</div>
              <div class="timetable-event">Send-Off</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
<style>
 .timetable-items {
  border: 1px solid #b4d8ee; /* Light blue border */
  border-radius: 5px;
  padding: 20px;
  background-color: #f6f6f6; /* Light background */
}

.timetable-item {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #b4d8ee; /* Light blue divider */
}

.timetable-item:last-child {
  border-bottom: none;
}

.timetable-time {
  flex: 1;
  font-weight: bold;
  font-size: 16px;
  color: #1d5e84; /* Dark blue time */
}

.timetable-event {
  flex: 3;
  font-size: 16px;
  color: #f1731e; /* Orange event text */
}

.timetable-time i {
  margin-right: 10px;
  color: #febf58; /* Yellow icons */
  font-size: 18px;
}
</style>