<section id="weddingday">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Wedding Timetable</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="timetable-items">
          <div class="timetable-item">
            <div class="timetable-time"><i class="fa fa-ring"></i> 4:00 PM</div>
            <div class="timetable-event">Ceremony Starts</div>
          </div>
          <div class="timetable-item">
            <div class="timetable-time"><i class="fa fa-ring"></i> 5:00 PM</div>
            <div class="timetable-event">Alpino</div>
          </div>
          <div class="timetable-item">
            <div class="timetable-time"><i class="fa fa-ring"></i> 6:00 PM</div>
            <div class="timetable-event">Dinner</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>