<section id="weddingweek-{{ lang }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Wedding Week Events</h2>
          <hr>
          <p class="text-muted">Celebrate with us throughout the week</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="wedding-timeline">
            <!-- Event 1 -->
            <div class="timeline-item row">
              <div class="col-md-6 text-right">
                <div class="timeline-date">
                  <h4>Monday</h4>
                  <p class="text-primary">June 12th</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="timeline-card">
                  <div class="timeline-icon">
                    <i class="fa fa-glass-cheers"></i>
                  </div>
                  <h3>Welcome Dinner</h3>
                  <p class="time"><i class="fa fa-clock-o"></i> 7:00 PM - 10:00 PM</p>
                  <p class="location"><i class="fa fa-map-marker"></i> Beachside Resort</p>
                  <p class="text-muted">Casual gathering for all guests</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-10 col-lg-offset-1">
              <div class="wedding-timeline">
                <!-- Event 2 -->
                <div class="timeline-item row">
                  <div class="col-md-6 text-right">
                    <div class="timeline-date">
                      <h4>Tuesday</h4>
                      <p class="text-primary">June 12th</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="timeline-card">
                      <div class="timeline-icon">
                        <i class="fa fa-glass-cheers"></i>
                      </div>
                      <h3>Saufi mit Mausi</h3>
                      <p class="time"><i class="fa fa-clock-o"></i> 7:00 PM - 10:00 PM</p>
                      <p class="location"><i class="fa fa-map-marker"></i> Beachside Resort</p>
                      <p class="text-muted">Ich vermisse meine Mausi!</p>
                    </div>
                  </div>
                </div>
  
                <div class="col-lg-10 col-lg-offset-1">
                  <div class="wedding-timeline">
                    <!-- Event 3 -->
                    <div class="timeline-item row">
                      <div class="col-md-6 text-right">
                        <div class="timeline-date">
                          <h4>Tuesday</h4>
                          <p class="text-primary">June 12th</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="timeline-card">
                          <div class="timeline-icon">
                            <i class="fa fa-glass-cheers"></i>
                          </div>
                          <h3>asdfa</h3>
                          <p class="time"><i class="fa fa-clock-o"></i> 7:00 PM - 10:00 PM</p>
                          <p class="location"><i class="fa fa-map-marker"></i> asdft</p>
                          <p class="text-muted">asdf</p>
                        </div>
                      </div>
                    </div>
          </div>
        </div>
      </div>
    </div>
  </section>